<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{62,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,64},{56,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,66},{58,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{58,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{50,50}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{46,46}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,50},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{44,44}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{46,46}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bullet_ball_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,58},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{52,52}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet01.png</string>
            <key>size</key>
            <string>{332,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29e656a8466464f94ad1517e2aa14d4c:1/1$</string>
            <key>textureFileName</key>
            <string>bullet01.png</string>
        </dict>
    </dict>
</plist>
