<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grass_box_cricle.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,774},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_box_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,770},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,52},{216,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,72}}</string>
                <key>sourceSize</key>
                <string>{216,72}</string>
            </dict>
            <key>grass_green_whole.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,702},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,698},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,630},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_left_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,626},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_left_lean.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,558},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_moutain.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{48,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,106}}</string>
                <key>sourceSize</key>
                <string>{48,106}</string>
            </dict>
            <key>grass_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,554},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,486},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_right_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,482},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_right_curved.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,414},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>grass_right_lean.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,410},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>green_daimon.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,266},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>green_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,144},{56,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>leader_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,342},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>leader_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,338},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>scene_grass_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,500}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>water_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,270},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>wooden_chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,266},{70,20}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>wooden_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,216},{54,48}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{54,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>wooden_fire_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{28,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{28,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>wooden_road_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,72},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cartoon.png</string>
            <key>size</key>
            <string>{648,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7fef9a23aaea25aad48871caa3b604f:1/1$</string>
            <key>textureFileName</key>
            <string>cartoon.png</string>
        </dict>
    </dict>
</plist>
