<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Double_bottle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,916},{82,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{82,113}</string>
            </dict>
            <key>Double_bottle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{82,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{82,113}</string>
            </dict>
            <key>Double_bottle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,832},{82,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{82,113}</string>
            </dict>
            <key>Double_bottle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{82,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{82,113}</string>
            </dict>
            <key>Double_bottle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,748},{82,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{82,113}</string>
            </dict>
            <key>Double_bottle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{82,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{82,113}</string>
            </dict>
            <key>Fire_bird0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,198},{64,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Fire_bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Fire_bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,132},{64,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Fire_bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{64,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Fire_bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{64,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Fire_bird5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,396},{64,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Ice_bird0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{64,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Ice_bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,66},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Ice_bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{64,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Ice_bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,330},{64,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Ice_bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,286},{64,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Ice_bird5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,264},{64,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>Life_mushroom0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Life_mushroom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Life_mushroom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Mucus0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,134},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{66,64}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,518},{70,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,450},{70,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,586},{70,68}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{68,66}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,66}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,66},{66,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{66,64}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,382},{70,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{70,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,532},{70,68}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Mucus9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,462},{68,68}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>lizard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{70,74}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{70,74}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>lizard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,202},{64,82}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{64,82}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>lizard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,604},{70,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{70,88}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>lizard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{64,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{64,90}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>lizard4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,676},{70,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{70,94}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>lizard5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,96}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{256,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df8ccd86a22f2ad4de91ef620f803d86:1/1$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
