<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,380},{105,95}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{105,95}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,477},{107,97}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{107,97}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,95},{107,91}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{105,93}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{105,93}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{105,91}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{105,91}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,188},{103,93}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{103,93}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,283},{101,95}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{101,95}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{101,91}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{101,91}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{109,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{109,95}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{107,95}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{107,95}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,91}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{107,91}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>role_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{105,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{105,95}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{220,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e2dede899cc83742a8925e04e187b34:1/1$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
